.ant-layout-sider {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #f0f0f0;
  }
  
  .ant-layout-header {
    border-bottom: 1px solid #f0f0f0;
  }
  
  .ant-menu-inline {
    border-right: none;
  }
  @media (max-width: 768px) {
    .ant-drawer-content-wrapper {
      width: 240px !important;
    
    }
  }
  
 